API_ID=30459788
API_HASH=01a05e81810b022dbd7c84d02b4258d5
BOT_TOKEN=8983557694:AAEeEFgkdWTKbj5pl4e1e_UD68D-vFoncjM
LOGGER_ID=-1003811574093
MONGO_DB_URI=mongodb+srv://mehermusic369_db_user:mehermusic@cluster0.t7miuqv.mongodb.net/?appName=Cluster0
OWNER_ID=5719281608
STRING_SESSION=BQHQx4wAdo3nY0CmbqzR399ZjO_up9Hj2sDbrtlslQhzeLWkfyiKZlqeegAKM09WwFZg5i2wzhZKfMANZ-tHtiO2_01eFO6cv1qSUy-iLcoIFPzNtITLwvZ8E3Im-rO5ZwOMBLHQklGqG2NXBqjYQ1rDGQsgZbpT2yl9-UrCTeiwlh1NnT8S7xdGWgCMbxe1uqAjg0TopOJiXsCvCWoW_C1Un4bqUcMkA_uTP5-0wBlI5d0tBHS00ERbp9AUpVjll4lSa25OOCV3vrPAtHIxL2LJy1b-2EuEcWE-RGXrFjcPYe25AVBSzS4g77VA0af6gICPwHlXxlE2m1ZTT53zO5b_ntCIwAAAAAF_BuNrAA
